.bucket-list-item{
    background-color:  #3F3F3F;
    width: 50%;
    text-align: center;
    color: #830000;
    font-size: 1.25em;
    padding: 0.25em;
    margin: 0.25em auto;
}

.detail-content{
    display: flex;
}

.bucket-info{
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-align: center;
}